<% include ../partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Great campgrounds here!</h1>
    <p class="lead">Look around and find your favorate campground allover the world!</p>
    <a class="btn btn-info btn-sm" href="/campgrounds/new" role="button">Make a new campground</a>
  </div>
</div>

<div class="container">
    <div class="row" style="display: flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(campground){ %>
        <div class="col-lg-4 col-sm-6">
          <img src="<%= campground.image %>" class="img-thumbnail">
          <caption><%= campground.name %></caption>
        </div>
    <% }) %>
    </div>
</div>

<% include ../partials/footer %>
